<div class="card mb-3">
  <div class="row g-0">
    <!-- Column for image: center it vertically -->
    <div class="col-sm-5 col-md-3 d-flex align-items-center"> <!-- Center image vertically -->
      <img src="{{ site.baseurl }}/{{ include.page.image }}" width="300px" class="rounded-start">
    </div>

    <!-- Column for text: top-align the content -->
    <div class="col-sm-6 col-md-8 d-flex align-items-start" style="margin-left: 25px;"> <!-- Top-align text -->
      <div class="card-body">
        <h5 class="card-title">{{ include.page.title }} 
          <small class="text-muted" style="position: absolute; top: 0; right: 0; margin-right: 10px; text-align:right;">{{ include.page.display-date }}</small>
        </h5>
        <p class="card-text">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
            <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{ label }}</span>
          {% endfor %}
        </p>
        {% if page.projecturl %}
          <a href="{{ page.projecturl }}" class="btn btn-outline-dark">Project Site</a>
        {% else %}
          <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-dark">Read More</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>