<div style="background-color: var(--tf-working-papers-bg-color)" class="bg-gradient py-3" id="working-papers">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Working Papers</h1>
      </div>
    </div>

    <div class="row g-3">
      {% assign working_paper_pages = site.pages | where: "type", "working-paper" | sort: "date" | reverse %}
      {% for page in working_paper_pages %}
        {% unless page.draft %}
          {% include working-papers/working-paper-card.html page=page %}
        {% endunless %}
        {% if forloop.index == include.limit %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>

    {% if working_paper_pages.size > include.limit %}
      <p class="text-center pt-4"><a href="{{ site.baseurl}}/papers_working/">See All {{ working_paper_pages.size }} Working Papers</a></p>
    {% endif %}

  </div>
</div>
